asgiref==3.9.1
Django==5.2.4
django-cors-headers==4.7.0
django-extensions==4.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
numpy==2.3.2
PyJWT==2.10.1
python-dotenv==1.1.1
rest-framework-simplejwt==0.0.2
shapely==2.1.1
sqlparse==0.5.3
